html {
  background-color: #023047;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #023047;
}

/* Navbar Styles */
nav {
  background-color: #Fb8500;
  padding: 15px 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Header Styles */
h1 {
  text-align: center;
  color: #219ebc;
  margin-top: 20px;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  color: #8ecae6;
}

p {
  color: white;
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

/* Calendar Styles */
#calendar {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

#days div {
  border: 1px solid #ccc;
  color: #8ecae6;
  padding: 10px;
  cursor: pointer;
}

#days div:hover {
  background-color: #f0f0f0;
}

/* Events List Styles */
#events {
  list-style-type: none;
  padding: 0;
}

#events li {
  margin: 10px 0;
  padding: 10px;
  background-color: #8ecae6;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#events li button {
  background-color: #fb8500;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

#events li button:hover {
  background-color: #ffb703;
}

h3 {
  color: #8ecae6;
  text-align: center;
  margin-top: 20px;
}

#registration {
  text-align: center;
  margin-top: 20px;
}

#registration button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #Fb8500;
  color: white;
  position: bottom;
  bottom: 0;
  width: 100%;
}
