/* General Styles */
/* General Styles */
html {
  background-color: #f4f4f4;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #023047;
}

/* Navbar Styles */
nav {
  background-color: #Fb8500;
  padding: 15px 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

nav ul li {
  display: inline;
  margin-right: 20px;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  
}

nav ul li a:hover {
  text-decoration: underline;
  
}

/* Header Styles */
h1 {
  text-align: center;
  color: #219ebc;
  margin-top: 20px;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  color: #8ecae6;
}

p {
  color: white;
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

/* Card Styles */
.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.card img {
  border-radius: 50%;
  margin: 15px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card .container {
  padding: 10px 20px;
  text-align: center;
}

.card h4 {
  color: #0072bc;
  margin-bottom: 10px;
}

.card p {
  color: #333;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #Fb8500;
  color: white;
  position: bottom;
  bottom: 0;
  width: 100%;
}
/* Card Styles */
.btn {
  background-color: #Fb8500;
  padding: 14px 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #023047;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
 }
 
 .btn span:last-child {
  display: none;
 }
 
 .btn:hover {
  transition: .4s;
  border: 2px dashed #8ecae6;
  background-color: #fff;
  color: #8ecae6;
 }
 
 .btn:active {
  background-color: #87dbd0;
 }
  
/* Form Styles */
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  background-color: #Fb8500;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #00BFA6;
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 90%;
  }
}

#children-info {
  margin-top: 20px;
}

.child {
  margin-bottom: 10px;
}

#add-child {
  background-color: #FFa500;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

#add-child:hover {
  background-color: #00BFA6;
}